.article {
    text-align: start;
}

.article > h1 {
    text-align: center;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #414141;
    color: #9cdeff;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
}

hr {
    border: none;
    height: 1px;
    background-color: #72d0ff47;
}