#error404 {
    text-align: center;
    padding: 40px;

    &>h1 {
        font-size: 4rem;
        color: #e74c3c;
    }

    &>a {
        color: #3498db;
        text-decoration: underline;
    }
}